extends layout

block content
   script(type="text/javascript").
      var local_data = '!{output}'

   h1=title
   p(id= 'pp')

   form(action='/' method='get')
      input(type="submit" value="Make more essays better!" class="btn btn-default")
   script(src='js/bestJavascriptFile.js')

