doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css')
  body
    block content
